/* header */

.bodyContainer {
  background-color: #d0c8bd;
}

.headerContainer {
  background-color: #a9a39a;
}

.buttonHeaderContainer {
  width: 141.61px;
}

.fontStyle a {
  font-size: 20px;

  color: black;
}

.fontStyle a:hover {
  color: #df0914;
}

.redesIcon a {
  color: black;
}

.redesIcon a:hover {
  color: #df0914;
}

/* media queries header*/
.redesButtonContainer {
  @media (max-width: 768px) {
    display: none;
  }
}

.fontStyle a {
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

/* main */
.carousel-inner img {
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  border: #df0914 solid 2px;
}

div.cajasContainer {
  display: grid;
  margin: 20px auto;
  text-align: center;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;

  @media (min-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1199px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.cajas {
  margin: 5px;
  padding: 10px;
}

.cajas h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cajas p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imgs {
  border-radius: 25px;
  width: 300px;
}

.butContainer {
  border-radius: 10px;
  background-color: #d0c8bd;
  margin: 5px auto;
  padding: 5px;
  border: none;
}

.butContainer a {
  color: white;
}

.butContainer a:hover {
  color: #df0914;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: dotted #fed792 2px;
}

.ubicacion {
  margin: 10px;
}

.gMaps {
  margin: 10px;
}

/* footer */
.footerContainer {
  background-color: #a9a39a;
  padding-top: 20px;
  margin-bottom: 20px;
  height: max-content;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.horariosFooter {
  font-size: 0.7rem;
  margin: auto;
}

.logoFooterContainer {
  text-align: center;
}

.buttonsFooterContainer {
  text-align: center;
  margin: auto;
}

/* media queries footer */
.footerContainer {
  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

/* styles contacto */

.cMainContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cFormContainer {
  width: 90%;
  margin: 0 auto;
  background: #a9a39a;
  margin: 20px auto;
  border-radius: 20px;
}

.cFormContainer h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  margin: 10px;
  font-weight: bolder;
}

.cFormContainer p {
  color: #df0914;
  text-decoration: underline;
  padding: 5px;
}

label {
  font-weight: bolder;
}

input {
  margin: 5px auto;
  width: 40%;
  text-align: center;
}

textarea {
  margin: 5px auto;
  width: 40%;
  text-align: center;
}

.butContainer:hover {
  color: #df0914;
}

input {
  @media (max-width: 767px) {
    width: 85%;
  }

  @media (max-width: 576px) {
    width: 90%;
  }
}

textarea {
  @media (max-width: 767px) {
    width: 85%;
  }

  @media (max-width: 576px) {
    width: 90%;
  }
}

/* Cartas */

.cartasContainer {
  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    margin: 50px 0;
  }
}

.mContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
}

.cartasImg {
  max-width: 400px;
  width: 90%;
  @media (min-width: 768px) {
    max-width: 600px;
  }
}
div .titCartas {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.down a {
  color: #df0914;
}
/*Nosotros*/

.mainNosotros {
  margin: 20px 5px;
  text-align: center;
}
.nTitle {
  color: #df0914;
  text-decoration: underline;
}

.nParrafo {
  margin-top: 20px;
  font-size: 18px;
}

/*obseguios*/

.oPromo {
  width: 80%;
  max-width: 300px;
}
.oPromoP {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #df0914;
  font-size: 14px;
}
.oTitle {
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
  color: #df0914;
}
.oParrafo {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}
.oCardsContainer {
  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.oContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  background-color: #a9a39a;
}
/* NO LLEGUE A DARLE EL ESTILO QUE QUERIA A LA ULTIMA PAGINA PERDOOONNNN.!*/
