  /*mediaQ header*/

  .redesButtonContainer {
    @include deskMax {
      display: none;
    }
  }

  .fontStyle a {
    @include tabletMax {
      font-size: 18px;
    }
  }

  /* media queries footer */

  .footerContainer {
    @include tabletMax {
      grid-template-columns: 1fr 1fr;
    }

    @include movilMax {
      grid-template-columns: 1fr;
    }
  }

  /*Contacto*/


  input {
    @include tabletMax {
      width: 85%;
    }

    @include movilMax {
      width: 90%;
    }
  }

  textarea {
    @include tabletMax {
      width: 85%;
    }

    @include movilMax {
      width: 90%;
    }
  }

  /*pageCartas*/

  .cartasContainer {
    @include tabletMin {
      grid-template-columns: 1fr 1fr;
      margin: 50px 0;
    }
  }


  .cartasImg {
    @include tabletMin {
      max-width: 600px;
    }
  }

  /*pageObsequios*/

  .oSection {
    @include deskMin {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }